 /* 必需 */
.vue-date-picker-transition {
    transition: all .3s ease;
    transform:scale(1,1);
    transform-origin: 5% 0%;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.vue-date-picker-enter, .vue-date-picker-leave {
    opacity: 0;
    transform:scale(0.9,0.9)
}

.vue-date-picker > .picker:after {
    top: -6px;
    left: 12px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: ' ';
    border: 3px solid transparent;
    border-bottom-color: #fff;
}

.vue-date-picker > .picker:before {
    top: -10px;
    left: 10px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: ' ';
    border: 5px solid transparent;
    border-bottom-color: #000;

}

.vue-date-picker > .picker > div {
    width: 100%;
    position: relative;
    height: auto;
}

.vue-date-picker > .picker > div > .title {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    margin-top: 2px;
}

.vue-date-picker > .picker > div > .gray {
    color: #999;
}

.vue-date-picker > .picker > div > .tile {
    float: left;
    border-radius: 8px;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 10px 4px 10px 4px;
}

.vue-date-picker > .picker > div > .tile.selected {
    background: #39f;
    color: #fff;

}

.vue-date-picker > .picker > div > .tile.selected:hover {
    background: #39f;
    color: #fff;
}

.vue-date-picker > .picker > div > .hover {
    cursor: pointer;
}

.vue-date-picker > .picker > div > .hover:hover {
    background: #f0f0f0;
}

.vue-date-picker > .picker {
    position: relative;
    text-align: center;
    box-shadow: 0 2px 3px #999;
    box-sizing: content-box;
    height: auto;
    background: #fff;
    border-top: 2px solid #000;
    margin-top: 6px;
    user-select: none;
    -webkit-user-select: none;

}

.vue-date-picker > .picker > div > .days_title {
    background: #f0f0f0;
    border-radius: 0px;
    border: 0px;
}